@model Imengur.Models.ImageAndUsers;
@using PagedList.Mvc;
@{
    ViewData["Title"] = "All Images";
}
<h1>Uploaded images</h1>
<table class="table">
    <tr>
        <th>Image ID</th>
        <th>Owner</th>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <th>Options</th>
        }
    </tr>
    <tbody>
        @foreach (var image in @Model.Images)
        {
        <tr>
            <td>
                @image.Id
            </td>
            <td>
                @Model.BetterUsers.Where(el => el.Id == image.BetterUserId).FirstOrDefault()
            </td>
            <td>
                @image.Title
            </td>
            <td>
                <a asp-controller="Image" asp-action="SearchImage" asp-route-Id="@image.Id">
                    <img style="height:100px; width:auto;" src="~/uploads/@image.ImageData" />
                </a>
            </td>
            <td>
                @image.Description
            </td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
            <td>
                <a class="btn btn-danger" asp-controller="Image" asp-action="DeleteImage" asp-route-Id="@image.Id">Delete</a>
            </td>
            }
        </tr>
        }
    </tbody>
</table>

<hr />
<nav class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-action="index" asp-route-pageNumber="@(Model.Images.PageNumber > 1 ? Model.Images.PageNumber -1 : 1)">Previous</a></li>
        @if (Model.Images.PageCount == 0 || Model.Images.PageCount == 1)
        {
            <li class="page-item active"><a class="page-link" asp-action="index" asp-route-pageNumber="@(Model.Images.PageNumber)">@(Model.Images.PageNumber)</a></li>
        }
        else if (Model.Images.PageCount == 2)
        {
            if (Model.Images.PageNumber == 1)
            {
                <li class="page-item active"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="1">1</a></li>
                <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="2">2</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="1">1</a></li>
                <li class="page-item active"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="2">2</a></li>
            }
        }
        else
        {
            if (Model.Images.PageNumber == 1)
            {
                <li class="page-item active"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="1">1</a></li>
                <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="2">2</a></li>
                <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="@(Model.Images.PageCount)">@(Model.Images.PageCount)</a></li>
            }
            else if (Model.Images.PageCount > Model.Images.PageNumber)
            {
                <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="1">1</a></li>
                <li class="page-item active"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="@(Model.Images.PageNumber)">@(Model.Images.PageNumber)</a></li>
                <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="@(Model.Images.PageCount)">@(Model.Images.PageCount)</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="1">1</a></li>
                <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="@(Model.Images.PageNumber -1)">@(Model.Images.PageNumber -1)</a></li>
                <li class="page-item active"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="@(Model.Images.PageCount)">@(Model.Images.PageCount)</a></li>
            }
        }
        <li class="page-item"><a class="page-link" asp-action="AllImages" asp-route-pageNumber="@(Model.Images.PageCount > Model.Images.PageNumber ? Model.Images.PageNumber +1 : @Model.Images.PageCount)">Next</a></li>
    </ul>
</nav>
