@model PagedList.IPagedList<Imengur.Models.Image>
@using PagedList.Mvc;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Uploaded images</h1>
<table class="table">
    <tr>
        <th>Image ID</th>
        <th>Owner</th>
        <th>Title</th>
        @*<th>Date</th>*@
        <th>Image</th>
        <th>Description</th>
        @if (User.Identity.IsAuthenticated)
        {
            <th>Options</th>
        }
        </tr>
    <tbody>
        @foreach (var image in @Model)
        {
        <tr>
            <td>
                @image.Id
            </td>
            <td>
                @*                    @image.User.Id*@
            </td>
            <td>
                @image.Title
            </td>
            @*<td>
            @image.UploadDate
        </td>*@
            <td>
                @image.ImageData
            </td>
            <td>
                @image.Description
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a class="btn btn-danger" asp-controller="Image" asp-action="DeleteImage" asp-route-Id="@image.Id">Delete</a>
                    <a class="btn btn-primary" asp-controller="Image" asp-action="EditForm" asp-route-Id="@image.Id">Edit</a>
                </td>
            }
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Image" asp-action="AddForm">Upload image</a>
<a class="btn btn-primary" asp-controller="Image" asp-action="SearchForm">Search image</a>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageNumber > 1 ? Model.PageNumber -1 : 1)">Previous</a></li>
        @if (Model.PageCount == 1)
        {
            <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageNumber)">@(Model.PageNumber)</a></li>
        }
        else if (Model.PageCount == 2)
        {
            if (Model.PageNumber == 1)
            {
                <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="1">1</a></li>
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="2">2</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="1">1</a></li>
                <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="2">2</a></li>
            }
        }
        else
        {
            if (Model.PageNumber == 1)
            {
                <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="1">1</a></li>
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="2">2</a></li>
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageCount)">@(Model.PageCount)</a></li>
            }
            else if (Model.PageCount > Model.PageNumber)
            {
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="1">1</a></li>
                <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageNumber)">@(Model.PageNumber)</a></li>
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageCount)">@(Model.PageCount)</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="1">1</a></li>
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageNumber -1)">@(Model.PageNumber -1)</a></li>
                <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageCount)">@(Model.PageCount)</a></li>
            }
        }
        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(Model.PageCount > Model.PageNumber ? Model.PageNumber +1 : @Model.PageCount)">Next</a></li>
    </ul>
</nav>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
