@model Imengur.Models.ImagesUsersComments
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Uploaded by</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Image.Title</td>
            <td>@Model.BetterUsers.Where(el => el.Id == Model.Image.BetterUserId).FirstOrDefault()</td>
            <td>@Model.Image.Description</td>
        </tr>
    </tbody>
</table>

<img class="img-fluid" src="~/uploads/@Model.Image.ImageData" />

<hr />

@if (User.Identity.IsAuthenticated)
    {
    <form asp-controller="Comment" asp-action="AddComment" method="post">
        <textarea class="form-control" placeholder="Comment" asp-for="@Model.Comment.Content"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
        <br />
        <input type="text" hidden="hidden" value="@Model.Image.Id" asp-for="@Model.Comment.ImageId" />
        <button class="btn btn-success" type="submit">Add comment</button>
    </form>
    }
<br />

<ul class="list-group">
    @{ var currentComments = @Model.Comments.Where(el => el.ImageId == Model.Image.Id);}
    @foreach (var comment in currentComments)
    {
        <li class="list-group-item">
            @{string currentUserName = Model.BetterUsers.Where(el => el.Id == comment.BetterUserId).FirstOrDefault().ToString();}
            @if (User.Identity.IsAuthenticated && (User.Identity.Name == currentUserName))
            {
                <a asp-controller="Comment" asp-action="DeleteComment" asp-route-Id="@comment.Id" asp-route-ImageId="@comment.ImageId">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
            }
            @comment.Date
            <p class="font-weight-bold">
                @Model.BetterUsers.Where(el => el.Id == comment.BetterUserId).FirstOrDefault():    
            </p>
            <hr />
            @comment.Content
        </li>

    }
</ul>
