@model ICollection<Imengur.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Current user list</h1>
<table class="table">
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Login</th>
        <th>Email</th>
        <th>Options</th>
    </tr>
    <tbody>
        @foreach (var user in @Model)
        {
            <tr>
                <td>
                    @user.UID
                </td>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Login
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="User" asp-action="DeleteUser" asp-route-Id="@user.UID">Delete</a>
                    <a class="btn btn-primary" asp-controller="User" asp-action="EditUserForm" asp-route-Id="@user.UID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="User" asp-action="AddForm">Add User</a>